[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "crplyr"]
	path = crplyr
	url = https://github.com/crunch-io/crplyr
[submodule "crunch"]
	path = crunch
	url = https://github.com/crunch-io/rcrunch
[submodule "crunchy"]
	path = crunchy
	url = https://github.com/crunch-io/crunchy
